<h1 class="display-1 text-center"><u><b>Eat Da Burger!</b></u></h1>

<main>
  
  <div class="text-center">
  <img src="assets/img/burger.png" class="rounded" id="burgerPic" alt="Cheeseburger" style="inline-size:250px">
</div>
  <div class="container" id="bodyContent">
    
    <div class="container">
      <div class="row">
        <div class="col s6">
          {{#each burgers}}
          {{#unless this.devoured}}
          <div>

            <button type="submit" class='eatburger' data-id="{{this.id}}"> {{this.burger_name}}</button>

          </div>
          {{/unless}}
          {{/each}}
        </div>

        <div class="col s6">
          {{#each burgers}}
          {{#if this.devoured}}
          <div class='burgerEaten'>
            <div>
              {{this.burger_name}}
            </div>
          </div>
          {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </div>
</main>

<h2>Add A Burger Option</h2>

<div class="row">
  <div class="col s12">
    <form action="/burgers" method="POST">
      <input type="text" id="name" name="burger_name" placeholder="Delicious Burger">
      <button type="submit" class="addBurger">Add The Burger</button>
    </form>
  </div>
</div>