body {
    background-image: Url("../img/50sStars.jpg");
    background-size: cover;
}

u {
    font-family: 'Fontdiner Swanky', cursive;
}

;
h1#title {
    font-family: 'Fontdiner Swanky', cursive;
}

;
;
img#burgerPic.rounded {
    height: 250px;
}

;


button.addBurger{
    position: relative;
    left: 50%;
}

.glow {
    font-size: 80px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
  }